@model Vidly_Mosh_KZK.Models.Movie

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<body>
    <h2>Welcome to main page!✨</h2>
    <b>Ryan's Laptop Budget: 80k-120k💸</b>
    <ul>
        <li>SSD 1TB</li>
        <li>RTX3070Ti / RTX4060</li>
        <li>I7 12th/13th Gen  H or HK series(or Ryzen equivalent)</li>
        <li>16GB DDR5 Ram (Dual Channel)</li>
        <li>144hz/250hz</li>
        <li>Windows 10 Preferably but Windows 11 works</li>
        <li>80 to 125w/35 to 115w</li>
    </ul>
    <b>Laptops that meet the requirements 💻</b>
    <ul>
        <li>MSI Pulse 15 B13VGK</li>
        <li>MSI Katana 15 B12VGK</li>
        <li>MSI Crosshair 15 B12UGSZO</li>
    </ul>
    <b>Ryan Workout Weekly Plan🏋🏻‍♀️</b>
    <ul>
        <li>Arm day 💪</li>
        <li>Cardio 🏃</li>
        <li>Leg day 🦵</li>
        <li>Cardio 🏃</li>
        <li>Ab day 🍞</li>
    </ul>
    <b>Janelle's Laptop Budget: 60k-80k💸</b>
    <ul>
        <li>SSD 1TB</li>
        <li>RTX3050</li>
        <li>I5 11th Gen  H or HK series(or Ryzen equivalent)</li>
        <li>16GB DDR5 Ram (Dual Channel)</li>
        <li>144hz</li>
        <li>Windows 10 Preferably but Windows 11 works</li>
        <li>80 to 125w/35 to 115w</li>
    </ul>
</body>

